
.card__Form-Result {
  height: 450px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background: #e9ecef;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  z-index: 3;
}




.form-result__group-itens {
  width: 280px;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
    gap: 25px;
  padding-top: 20px;
}

.title-card {
  font-family: "Nunito", sans-serif;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  line-height: 22px;
  font-size: 16px;
}

.div-title {
  border-radius: 10px 10px 0 0;
  background-color: #5fbcfa;
  height: 55px;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

.title-card {
  font-family: "Nunito", sans-serif;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  line-height: 22px;
  font-size: 16px;
}

.title-image {
  position: relative;
  left: 20px;
  height: 30px;
}

.group__info {
  display: flex;
  flex-direction: row;
}

.group__info-tag {
  width: 140px;
  text-align: center;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}

.group__info-answer {
  width: 160px;

  font-family: "Nunito";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
}

.form-result__result-components {
  height: 220px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.result {
  background-color: #38b000;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(9, 150, 33, 0.671);
  height: 150px;
  justify-content: center;
}

.result__group {
  width: 260px;
  height: 60px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  color: #000000;
}

.result__title {

  color: #000000;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.result__text {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.result__equipamento {
  width: 260px;
  height: 45px;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.select_equip {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}

.result__salvar {
  width: 100%;
  text-align: center;
  height: 30px;
}

.salvar_orcamento {
  font-family: "Poppins";
  font-style: normal;
  font-size: 12px;
  cursor: pointer;
}

@media screen and (max-height: 665px) {
  .card__Form-Result {
    width: 280px;
    height: 200px;
  }

  .div-title {
    height: 70px;
  }

  .title-card {
    font-size: 14px;
  }

  .title-image {
    height: 20px;
  }

  .form-result__group-itens {
    gap: 15px;
    padding-top: 10px;
    height: 150px;
  }

  .group__info-tag {
    font-size: 11px;
  }

  .group__info-answer {
    font-size: 11px;
  }

  .result {
    margin-top: 10px;
    height: 100px;
    width: 80%;
    justify-content: center;

    align-items: center;
  }

  .result__title {
    font-size: 11px;
  }

  .result__text {
    font-size: 11px;
  }

  .select_equip {
    font-size: 11px;
  }

  .result__salvar {
    margin-bottom: 0;
  }

  .salvar_orcamento {
    font-size: 11px;
    padding-top: 10px;
  }
}

@media screen and (min-height: 800px) {
  .card__Form-Result {
    width: 280px;
    height: 490px;
  }

  .form-result__group-itens {
    height: 150px;
  }

  .form-result__result-components {
    padding-top: -90px;
  }
}

@media screen and (max-height: 740px) {
  .card__Form-Result {
    width: 280px;
    height: 400px;
  }

  .form-result__group-itens {
    height: 150px;
  }

  .form-result__result-components {
    padding-top: -90px;
  }
}

@media screen and (max-height: 670px) {
  .card__Form-Result {
    width: 280px;
    height: 300px;
  }

  .form-result__group-itens {
    height: 150px;
  }

  .form-result__result-components {
    padding-top: -90px;
  }

  .result {
    margin-top: 10px;
    height: 110px;
    width: 85%;
    justify-content: center;
    align-items: center;
  }

  .result__title {
    font-size: 11px;
  }

  .result__text {
    font-size: 11px;
  }

  .select_equip {
    font-size: 11px;
  }

  .result__salvar {
    margin-bottom: 0;
  }

  .salvar_orcamento {
    font-size: 11px;
    padding-top: 10px;
  }
}
