
.card__Form-Calculation{
  width: 320px;
  height: 500px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
 
  background: #E9ECEF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;;

  margin-top: 130px;
  
  z-index: 3;

}
.div-title {
  border-radius: 10px 10px 0 0;
  background-color: #5fbcfa;
  height: 52px;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.title-card {
  font-family: "Nunito", sans-serif;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  line-height: 22px;
  font-size: 16px;
}
.form__title{
font-family: 'Nunito';
font-style: normal;
font-weight: 200;
font-size: 22px;
line-height: 30px;

color: #050000;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.input__calculation{
  all:unset;
  border-bottom: 1px solid black;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  width: 250px;
}

.btn__calculation{
border: none;
width: 121px;
height: 36px;

background: #eeff00;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

font-size: 14px;
line-height: 21px;
text-align: center;
color: #000000;

margin-bottom: 27px;

display: flex;
justify-content: center;
align-items: center;
}

.button__link-calculation{
  text-decoration: none;
  color: #000000;
}

.input__image{
  width: 27px;
  height: 32px;
}

.input__group{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn__calculation .input__image{
  width: 15px;
  height: 20px;
  margin-left: 8px;
}

.warning-calculo{
  position: absolute;
  top: 675px
}
