.form__salvar-orcamento{
    width: 280px;
    height: 110px;
  
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  
    background: #e9ecef;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    z-index: 3;
  }
  

.input__salvar-orcamento{
    all: unset;
    border-bottom: 1px solid black;
    width: 188px;
    font-size: 12px;
    font-family: "Nunito";
  }
  
  .btn__salvar-orcamento {
    border: none;
    width: 200px;
    height: 25px;
  
    background: #38b000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
  
    font-family: "Poppins";
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #000000;
  
    cursor: pointer;
  }