.group__waves {
    width: 100%;
    display: flex;
  }

  .main__help {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    flex-direction: column;
  }

  .help__description {

  }

  .help__information {

  }
  
  .help__images {

  }