.group__waves{
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image__waves{
    position: absolute;
    top: 60px;
    width: 100%;
}