.group__waves {
  position: absolute;
  width: 100%;
  display: flex;
}

.main__history {
  width: 100%;
  display: flex;
  justify-content: center;
  flex: 1 0 auto;
}

/* .footer {
  width: 100%;
  background-image: url('../../assets/images/footerGreen.png');
  flex-shrink: 0;
  z-index: -1;
  display: flex;
  align-content: space-between;
} */
