.main__history {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  
  background-image: url(../../assets/images/waves-backgroud.png);
  flex-wrap: wrap;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  flex-grow: 3;
}

