@media only screen and (min-width: 500px) {
  .navbar {
    height: 80px;
    width: 100%;
    background: rgb(20, 206, 3);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    font-size: 1.2rem;
  }
  
  .nav-logo {
    text-decoration: none;
    color: white;
  }
  
  .nav-links {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;
    list-style: none;
  }
  
  .nav-link {
    text-decoration: none;
    color: white;
    transition: 0.3s all;
  }
  
  .nav-link:hover {
    color: red;
  }
  
  .nav-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
  }
  .Header{
    display: none;
    }
  }

  
  @media only screen and (max-width: 500px) {
    .navbar {
      display: none;
    }
    .Header{
      padding: 0px 15px;
      width: 100%;
      height: 67px;
      background-color: rgb(213, 211, 211);
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-family: 'Courier New', Courier, monospace;
      font-size: 16px;
      font-weight: 600px;
      }
      
      .header__logo{
      width: 60px;
      height: 60px;
      }
      
      .header__title{
      justify-self: center;
      }
      
      .header__title{
      margin-right: 40px;
      }
    .nav-links {
      display: flex;
      flex-direction: column;
      position: absolute;
      text-align: center;
      width: 100%;
      top: 80px;
      left: -100%;
      transition: 0.5s all;
    }
    
    .nav-links.active {
      background: rgb(1, 253, 13);
      left: 0;
    }
    
    .nav-item {
      padding: 10px 0;
      border-top: 1px solid rgb(20, 206, 3);
      border-bottom: 1px solid rgb(20, 206, 3);
    }
    
    .left {
      text-align: left;
    }
    .nav-icon {
      display: flex;
    }
    
  }
  