.container_btn{
  justify-content: center;
}
.btn-email{
  width: 313px;
  height: 44px;
  background-color: E9ECEF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: none;
  justify-content: center;
}