.Footer {
  width: 100%;
  height: 65px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  box-shadow: 0 0 1em rgb(160, 159, 159);
}


.footer__logo {
  width: 200px;
  height: 65px;
}

.footer__text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 14px;
}
