.modal__cidades{
    width: 300px;
    text-align: center;
  
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;

    background-color: white;
    z-index: 10;

    border: solid 1px black;
  }

.item__cidade{
  cursor: pointer;
}

.item__cidade:hover{
  font-size: 18px;
}

