.modal__cidades{
    width: 300px;
    text-align: center;
  
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    position: absolute;
    top: 165px;
    background-color: white;
    z-index: 8;
  
  }

  .item__cidade{
    cursor: pointer;
  }

  .item__cidade:hover{
    font-size: 22px;
  }