.FooterL {
  width: 100%;
  /* background-color: #70E000; */
  display: flex;

  /* background-image: url('../../assets/images/footerGreen.svg'); */
  align-items: center;
  justify-content: center;
  align-content: space-between;
  /* filter: blur(4px); */
  margin-bottom: -20px;
  flex-shrink: 0;

  width: 100%;
  background-image: url("../../assets/images/footerGreen.png");
  flex-shrink: 0;
  z-index: -1;
  display: flex;
  align-content: space-between;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.btnFooter {
  cursor: pointer;
  align-content: space-between;
}
