.FooterL {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #70E000;
  padding: 0px 30px;
}

.btnFooter {
  cursor: pointer;
}

.image__clock{
  margin: 0px 60px;
}