.FooterL {
  width: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: #70E000;
  
  padding: 0px 30px;
  position: fixed;
  bottom: 0px;
}

.image__clock{
  margin: 0 40px;
} 

.image__calc {
  margin:0 40px;
}